.gallery img{
	width: 100%;
}

#menu{
	width: 100%;
	height: 40px;
	background-color: #000000;
	padding-top: 12px;
}

#menu a{
	color: #ffffff;
	font-family: Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:none;
	font-weight: 800px;

	padding-left: 20px;
	padding-right: 20px;
}

#menu a:hover{
	color: #000000;
}

#foot{
	width: 100%;
	height: 40px;
	background-color: #000000;
	padding-top: 12px;
}

h2{
	font-family: sans-serif;
	text-align: center;
	font-size: 30px;
	color: #000000;
	font-style: italic;
}

h3{
	font-family: sans-serif;
	font-size: 20px;
	font-style: italic;
	color: #000000;
	text-align: center
}

p{
	font-family: Arial, Helvetica, sans-serif;
}

#photo {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

#photo:hover {
  border: 1px solid #777;
}

#photo img {
  width: 100%;
  height: auto;
}
.container-fluid table {
	margin-left: auto;
	margin-right: auto;
}
#stock p {
	color: #FF0004;
	text-align: center;
}

.button {
  background-color: #24478f; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {width: 100%;}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #24478f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000000;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}